{# templates/circuitshow.html.twig #}
{#
  {{ dump(circuit) }}
#}

{% extends "baselayout.html.twig" %}

<body>
  <h1>{{ circuit.description }}</h1>
<img src="{{ circuit.pathImage }}">
	<h2>Détails</h2>

			<p>Description: {{ circuit.description }}</p>

			<p>Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j.
         de voyage à travers le {{ circuit.paysDepart }}, pour terminer à
         {{ circuit.villeArrivee }}.</p>
  <p>Les étapes seront:
	  <ul>
        {%  for etapes in circuit.etapes %}

                <li>{{etapes.villeEtape}} pendant {{ etapes.nombreJours }} jours</li>

        {% endfor %}
  </ul>
  </p>

  {% if circuit.programmations is not empty %}
  {% if admin %}
	  <h2>Programmations de ce circuit</h2>
  {# <pre>{{ dump(circuit) }}</pre> #}
     	<table>
     	 		<thead>
     					<tr>
     				    	<th>Date de départ</th>
     						  <th>Nombre de personnes</th>
     						  <th>Prix</th>
     					</tr>
     				</thead>
     		{%  for programmation in circuit.programmations %}
     			<tr>
     			   <td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
     			   <td>{{ programmation.nombrePersonnes }}</td>
     			   <td>{{ programmation.prix }} euros</td>
     			</tr>
     		{% endfor %}
     		</table>
	  {% else %}
  {% set nb=0 %}

          {% set reserver = false %}
  {%  for programmation in circuit.programmations %}
		{%set  nb =nb+ programmation.nombrePersonnes %}

	  {% if programmation.dateDepart|date('Ymd') >= "now"|date('Ymd') %}
		  {% set reserver = true %}
	{% endif %}

  {% endfor %}

	  <p>Déjà {{ nb }} personnes en profitent</p>
{% if reserver %}
	<p>RESERVEZ maintenant pour le prochain depart!</p>
  {% endif %}
  {% endif %}

  {% else %}
    <p>Désolé : pas encore de programmations pour ce circuit.</p>
    {% endif %}

</body>
</html>
